# Rainband Data

This notebook is used to process the shear dataset and perform subsequent processing needed for rainband lightning burst analysis.
This notebook includes the following sections:
- Combining Shear Data Files
- Calculating Shear Quadrant
- Binning the Lightning Data
- Joining the Datasets
- Calculating Current Category and Intensification Change

### Combining Shear Data Files
We start by combining the individual shear data files.

In [2]:
import os
import glob
import pandas as pd
import polars as pl
from scipy.io import loadmat
import numpy as np

Import the filtered trackfile data to extract a list of unique storm codes for storms category 1 or higher. We use this to limit the shear files we process to streamline the process and reduce the workload.

In [3]:
# Import the filtered trackfile for the list of storm codes in analysis
trackfile = pd.read_csv("intermediate_data/Filtered_Reduced_Trackfile.csv")
tc_list = trackfile[["storm_code", "storm_name"]].drop_duplicates()
tc_list.reset_index(drop=True, inplace=True)
tc_list.head()

  storm_code  storm_name
0  ATL_20_28        Zeta
1  ATL_20_28  Twenty-Eig
2  SHEM_20_4       Sarai
3  SHEM_16_7      Victor
4   ATL_17_8        Gert

In [ ]:
# Export filtered TC list for later use
tc_list.to_csv("data/filtered_tc_list.csv", index=False)

In [4]:
# Restart kernel and import unique value csv
tc_list = pd.read_csv("data/filtered_tc_list.csv")

Using the storm codes, we look for each TC's shear file in the base path (refers to thumb drive). If the TC has a shear file, we append it to the dataframe. We drop rows with null shear values.

In [5]:
# Define base path and list of storm codes
base_path = "/mnt/d/WWLLN_TC_Data_2010_2020/"
storm_codes = tc_list["storm_code"]

In [ ]:
# List to store data efficiently
data_list = []
processed_storms = []

# Process each storm code
for storm_code in storm_codes:
    if storm_code in processed_storms:
        continue
    basin, year, number = storm_code.split("_")
    folder_path = os.path.join(base_path, year, basin, number)
    file_pattern = os.path.join(folder_path, "*_Intensity_Shear.mat")
    files = glob.glob(file_pattern)

    if files:
        filename = files[0]  # Pick the first matching file
        mat_data = loadmat(filename)

        # Print keys to inspect the structure
        print(f"Loaded file: {filename}")

        # Create a DataFrame
        if 'cg_IntenShear' in mat_data:
            data_array = mat_data['cg_IntenShear']
            # Convert NumPy array to a Polars DataFrame directly
            df_temp = pd.DataFrame(data_array, columns=['year', 'month', 'day', 'hour', 'min', 'second', 'lat',
              'long', 'distance_east', 'distance_north', 'category', 'intensity_change',
              'trackfile_id', 'shear_magnitude', 'shear_angle'])
            # Drop NaN (null) rows before appending
            df_temp = df_temp.dropna()
            # Add a new column for storm_code
            df_temp["storm_code"] = storm_code
            data_list.append(df_temp)
        else:
            print("Variable not found in .mat file")
    else:
        print(f"{storm_code} does not have a shear file.")

# Efficiently concatenate all Polars DataFrames
shear_data = pd.concat(data_list, ignore_index=True)

# printed output log saved in separate txt file for reference

In [ ]:
# Display the final DataFrame
shear_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,category,intensity_change,trackfile_id,shear_magnitude,shear_angle,storm_code
0,2016.0,1.0,14.0,3.0,0.0,6.4994,-7.2386,-170.1965,-591.885,623.735,0.0,1.0,121.0,221.0,147.0,SHEM_16_7
1,2016.0,1.0,14.0,3.0,0.0,6.6831,-7.1552,-170.2882,-602.111,633.008,0.0,1.0,121.0,221.0,147.0,SHEM_16_7
2,2016.0,1.0,14.0,3.0,0.0,6.8064,-7.2494,-170.2057,-592.885,622.534,0.0,1.0,121.0,221.0,147.0,SHEM_16_7
3,2016.0,1.0,14.0,3.0,0.0,6.9387,-7.2733,-170.1481,-586.501,619.876,0.0,1.0,121.0,221.0,147.0,SHEM_16_7
4,2016.0,1.0,14.0,3.0,0.0,6.7190,-7.2224,-170.1888,-591.057,625.536,0.0,1.0,121.0,221.0,147.0,SHEM_16_7

We export the unbinned shear data for future reference.

In [ ]:
# Export the unbinned shear data as a tab-separated txt file
shear_data.to_csv("intermediate_data/unbinned_shear_data.txt", sep="\t", index=False)

### Calculating Shear Quadrant
We can restart the kernel here and read in the data again to free up space.

In [8]:
# Import unbinned shear data file
#shear_data = pd.read_csv("intermediate_data/unbinned_shear_data.txt", delimiter="\t")
shear_data = pd.read_csv(r"C:\Users\user\Desktop\25 WI\unbinned_shear_data.txt",delimiter="\t")

In [9]:
# Assign column names to the data
shear_data[['year', 'month', 'day', 'hour','min','category','intensity_change','trackfile_id','shear_magnitude','shear_angle']] = shear_data[['year', 'month', 'day', 'hour','min','category','intensity_change','trackfile_id','shear_magnitude','shear_angle']].astype(int)
shear_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,category,intensity_change,trackfile_id,shear_magnitude,shear_angle,storm_code
0,2016,1,14,3,0,6.4994,-7.2386,-170.1965,-591.885,623.735,0,1,121,221,147,SHEM_16_7
1,2016,1,14,3,0,6.6831,-7.1552,-170.2882,-602.111,633.008,0,1,121,221,147,SHEM_16_7
2,2016,1,14,3,0,6.8064,-7.2494,-170.2057,-592.885,622.534,0,1,121,221,147,SHEM_16_7
3,2016,1,14,3,0,6.9387,-7.2733,-170.1481,-586.501,619.876,0,1,121,221,147,SHEM_16_7
4,2016,1,14,3,0,6.7190,-7.2224,-170.1888,-591.057,625.536,0,1,121,221,147,SHEM_16_7

Calculate the direct distance to storm center of each lightning event. Since the distance to center is generally close enough, we use a simplified hypotenuse calculation method instead of the Great Circle method.

In [10]:
# Calculate distance center using Pythagorean theorem
shear_data['distance_center'] = np.sqrt(shear_data['distance_east'] ** 2 + shear_data['distance_north'] ** 2)

Filter the data to rainband only. We define rainband as 200-400km of storm center.

?? need to confirm if rainband is only dependent on the direct distance to center we calculated before or if we need to use distanceX/distanceY in any way??? -> if we only need to depend on the hypotenuse distance we calculated we can filter before angle calculation.

In [11]:
# Create a rainband indicator, rainband is between 200 and 400 km of storm center
shear_data["rainband_ind"] = shear_data["distance_center"].apply(
    lambda x: 1 if (x >= 200 and x <= 400) else 0
)

# Filter the dataset to where rainband indicator = 1
rainband_data = shear_data[shear_data['rainband_ind'] == 1].copy()

Calculate shear angle for each lightning event

!! clean up notes !!

shearAngleCG=geoAngleCG - shearAngle; geoAngleCG is geographic angle of lightning to storm center relative to N = 0 deg; shearAngle is column 14 above

convert NS, EW, to Cartesian relative to shear vector to the right

distanceY=dist_center.*sind(shearAngleCG); dist_center is distance in km of lightning from storm center (direct distance)
distanceX=dist_center.*cosd(shearAngleCG);        

Create a function to calculate the geographic angle relative to north. Apply it to the dataframe and then use the calculated geo angle to get the shearAngleCG part of the equation.

In [12]:
def get_lightning_angle(north_south, east_west):
    angle_rad = np.arctan2(east_west, north_south)  # atan2(y, x)
    angle_deg = np.degrees(angle_rad)  # Convert radians to degrees
    return angle_deg % 360  # Ensure the angle is in [0, 360] range

In [13]:
# Apply function to data
rainband_data["geo_angle"] = get_lightning_angle(rainband_data["distance_north"], rainband_data["distance_east"])
rainband_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,category,intensity_change,trackfile_id,shear_magnitude,shear_angle,storm_code,distance_center,rainband_ind,geo_angle
25,2016,1,14,3,1,34.2911,-10.1733,-165.2575,-46.7057,297.411,0,1,121,221,147,SHEM_16_7,301.056017,1,351.075109
59,2016,1,14,3,3,32.6359,-10.4485,-166.4983,-182.3480,266.810,0,1,121,221,147,SHEM_16_7,323.169258,1,325.649828
60,2016,1,14,3,3,32.7588,-10.4338,-166.6904,-203.3630,268.445,0,1,121,221,147,SHEM_16_7,336.777713,1,322.853913
61,2016,1,14,3,3,32.6358,-10.4354,-166.7021,-204.6420,268.267,0,1,121,221,147,SHEM_16_7,337.410035,1,322.662541
62,2016,1,14,3,3,32.6992,-10.4359,-166.6930,-203.6460,268.211,0,1,121,221,147,SHEM_16_7,336.762281,1,322.791493

In [14]:
# Calculate shearAngleCG by subtracting the angles, make sure output is positive
rainband_data["shearAngleCG"] = (rainband_data["geo_angle"] - rainband_data["shear_angle"]) % 360
rainband_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,category,intensity_change,trackfile_id,shear_magnitude,shear_angle,storm_code,distance_center,rainband_ind,geo_angle,shearAngleCG
25,2016,1,14,3,1,34.2911,-10.1733,-165.2575,-46.7057,297.411,0,1,121,221,147,SHEM_16_7,301.056017,1,351.075109,204.075109
59,2016,1,14,3,3,32.6359,-10.4485,-166.4983,-182.3480,266.810,0,1,121,221,147,SHEM_16_7,323.169258,1,325.649828,178.649828
60,2016,1,14,3,3,32.7588,-10.4338,-166.6904,-203.3630,268.445,0,1,121,221,147,SHEM_16_7,336.777713,1,322.853913,175.853913
61,2016,1,14,3,3,32.6358,-10.4354,-166.7021,-204.6420,268.267,0,1,121,221,147,SHEM_16_7,337.410035,1,322.662541,175.662541
62,2016,1,14,3,3,32.6992,-10.4359,-166.6930,-203.6460,268.211,0,1,121,221,147,SHEM_16_7,336.762281,1,322.791493,175.791493

Next, let's calculate the distance X and Y of each lightning event relative to center, rotated on the shear angle.

?? is this necessary for rainband classification?

convert NS, EW, to Cartesian relative to shear vector to the right

distanceY=dist_center.*sind(shearAngleCG); dist_center is distance in km of lightning from storm center (direct distance)
distanceX=dist_center.*cosd(shearAngleCG);   

We start by defining a sind and cosd function since Python's built-in sin function only accepts input in radians (not degrees).

In [15]:
def sind(angle_degrees):
    return np.sin(np.radians(angle_degrees))

In [16]:
def cosd(angle_degrees):
    return np.cos(np.radians(angle_degrees))

Next, let's use these functions to calculate the distanceX and distanceY.

In [17]:
# Calculate distanceX and distanceY using formula
rainband_data["distanceX"] = rainband_data["distance_center"]*sind(rainband_data["shearAngleCG"])
rainband_data["distanceY"] = rainband_data["distance_center"]*cosd(rainband_data["shearAngleCG"])
rainband_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,...,trackfile_id,shear_magnitude,shear_angle,storm_code,distance_center,rainband_ind,geo_angle,shearAngleCG,distanceX,distanceY
25,2016,1,14,3,1,34.2911,-10.1733,-165.2575,-46.7057,297.411,...,121,221,147,SHEM_16_7,301.056017,1,351.075109,204.075109,-122.810944,-274.867600
59,2016,1,14,3,3,32.6359,-10.4485,-166.4983,-182.3480,266.810,...,121,221,147,SHEM_16_7,323.169258,1,325.649828,178.649828,7.614760,-323.079533
60,2016,1,14,3,3,32.7588,-10.4338,-166.6904,-203.3630,268.445,...,121,221,147,SHEM_16_7,336.777713,1,322.853913,175.853913,24.348937,-335.896349
61,2016,1,14,3,3,32.6358,-10.4354,-166.7021,-204.6420,268.267,...,121,221,147,SHEM_16_7,337.410035,1,322.662541,175.662541,25.518542,-336.443659
62,2016,1,14,3,3,32.6992,-10.4359,-166.6930,-203.6460,268.211,...,121,221,147,SHEM_16_7,336.762281,1,322.791493,175.791493,24.713726,-335.854233

Let's assign each lightning event to a shear quadrant using the shear angle calculated earlier.

Based off shearAngleCG:
- 0-90 - Downshear Left (DL)
- 90-180 - Downshear Right (DR)
- 180-270 - Upshear Right (UR)
- 270 -360 - Upshear Left (UL)

In [18]:
# Define conditions and choices for the 4 quadrants
conditions = [
    (rainband_data["shearAngleCG"] >= 0) & (rainband_data["shearAngleCG"] < 90),
    (rainband_data["shearAngleCG"] >= 90) & (rainband_data["shearAngleCG"] < 180),
    (rainband_data["shearAngleCG"] >= 180) & (rainband_data["shearAngleCG"] < 270),
    (rainband_data["shearAngleCG"] >= 270) & (rainband_data["shearAngleCG"] < 360),
]
choices = ["DR", "UR", "UL", "DL"]

# Apply to new column shear_quad
rainband_data["shear_quad"] = np.select(conditions, choices, default="Unknown")
rainband_data.head()

,year,month,day,hour,min,second,lat,long,distance_east,distance_north,...,shear_magnitude,shear_angle,storm_code,distance_center,rainband_ind,geo_angle,shearAngleCG,distanceX,distanceY,shear_quad
25,2016,1,14,3,1,34.2911,-10.1733,-165.2575,-46.7057,297.411,...,221,147,SHEM_16_7,301.056017,1,351.075109,204.075109,-122.810944,-274.867600,UL
59,2016,1,14,3,3,32.6359,-10.4485,-166.4983,-182.3480,266.810,...,221,147,SHEM_16_7,323.169258,1,325.649828,178.649828,7.614760,-323.079533,UR
60,2016,1,14,3,3,32.7588,-10.4338,-166.6904,-203.3630,268.445,...,221,147,SHEM_16_7,336.777713,1,322.853913,175.853913,24.348937,-335.896349,UR
61,2016,1,14,3,3,32.6358,-10.4354,-166.7021,-204.6420,268.267,...,221,147,SHEM_16_7,337.410035,1,322.662541,175.662541,25.518542,-336.443659,UR
62,2016,1,14,3,3,32.6992,-10.4359,-166.6930,-203.6460,268.211,...,221,147,SHEM_16_7,336.762281,1,322.791493,175.791493,24.713726,-335.854233,UR

### Binning the Lightning Data

Next, we'll create 30-minute timebins sectored by the shear quadrants. This means each TC will have 4 rows for the same timebin, one for each shear quadrant. We start by importing the min and max timestamps for each storm calculated using the trackfile.

In [19]:
full_time_period_df = pd.read_csv('intermediate_data/storm_time_period.csv')

In [20]:
# Ensure sec column is valid
rainband_data['sec'] = rainband_data['second'].apply(lambda x: 0 if x == 60 else x)

# Create a datetime column
rainband_data['datetime'] = pd.to_datetime(
    rainband_data['year'].astype(str) + '-' +
    rainband_data['month'].astype(str).str.zfill(2) + '-' +
    rainband_data['day'].astype(str).str.zfill(2) + ' ' +
    rainband_data['hour'].astype(str).str.zfill(2) + ':' +
    rainband_data['min'].astype(str).str.zfill(2) + ':' +
    rainband_data['sec'].astype(str).str.zfill(2)
)

# Define a function to apply the 30-minute binning for each storm_code group
def add_time_bin(group):
    group['time_bin'] = group['datetime'].dt.floor('30min')
    return group

# Group by storm_code and apply the binning function
rainband_data = rainband_data.groupby('storm_code', group_keys=False).apply(add_time_bin)

# Group by bins and get the count per 30-minute bin
rainband_data_grouped = rainband_data.groupby(['storm_code', 'time_bin', 'shear_quad']).size().reset_index(name='lightning_count')

# Define all shear_quad options
shear_quad_options = ["DR", "UR", "UL", "DL"]

# Function to ensure all time bins have all shear_quad values
def add_missing_bins(group):
    storm_code = group['storm_code'].iloc[0]
    # Use track file start and end dates to retain entirety of storm length
    min_time = full_time_period_df.loc[full_time_period_df['storm_code'] == storm_code, 'min_time'].values[0]
    max_time = full_time_period_df.loc[full_time_period_df['storm_code'] == storm_code, 'max_time'].values[0]

    # Create a full range of 30-minute bins for the time period of this storm
    full_bins = pd.DataFrame({'time_bin': pd.date_range(min_time, max_time, freq='30min')})

    # Create all possible combinations of (time_bin, shear_quad)
    shear_quad_expanded = full_bins.assign(key=1).merge(
        pd.DataFrame({'shear_quad': shear_quad_options, 'key': 1}), on='key'
    ).drop(columns=['key'])

    # Merge with original data
    merged = shear_quad_expanded.merge(group[['storm_code', 'time_bin', 'shear_quad', 'lightning_count']],
                                       how='left', on=['time_bin', 'shear_quad'])

    # Fill missing storm_code with the first valid entry in the group
    merged['storm_code'] = group['storm_code'].iloc[0]

    # Fill missing lightning_count with 0
    merged['lightning_count'] = merged['lightning_count'].fillna(0).astype(int)

    return merged

# Apply the function to ensure all (time_bin, shear_quad) combinations exist
rainband_data_timebin = rainband_data_grouped.groupby('storm_code', group_keys=False).apply(add_missing_bins)

# Sort the final result
rainband_data_timebin = rainband_data_timebin.sort_values(by=['storm_code', 'time_bin', 'shear_quad'])

# Print the resulting DataFrame with the new 'time_bin' and 'lightning_count' columns
print(rainband_data_timebin.head())

C:\Users\user\AppData\Local\Temp\ipykernel_22984\3439413940.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rainband_data = rainband_data.groupby('storm_code', group_keys=False).apply(add_time_bin)

             time_bin shear_quad storm_code  lightning_count
3 2010-06-20 18:00:00         DL   ATL_10_1                0
0 2010-06-20 18:00:00         DR   ATL_10_1                0
2 2010-06-20 18:00:00         UL   ATL_10_1                0
1 2010-06-20 18:00:00         UR   ATL_10_1                0
7 2010-06-20 18:30:00         DL   ATL_10_1                0

C:\Users\user\AppData\Local\Temp\ipykernel_22984\3439413940.py:56: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rainband_data_timebin = rainband_data_grouped.groupby('storm_code', group_keys=False).apply(add_missing_bins)

### Joining the Datasets
We join the binned lightning data with the trackfile data to get the closest wind and pressure data. Start by reading in the trackfile data and converting the data types.

In [21]:
# Import trackfile
reduced_track_file = pd.read_csv("intermediate_data/Filtered_Reduced_Trackfile.csv")

In [22]:
reduced_track_file.head()

,year,month,day,hour,lat,lon,pressure,knots,storm_code,storm_name,category,basin
0,2020,10,20,0,12.1,-80.0,0,15,ATL_20_28,Zeta,2,ATL
1,2020,10,20,6,12.5,-80.1,0,15,ATL_20_28,Zeta,2,ATL
2,2020,10,20,12,12.8,-80.2,0,15,ATL_20_28,Zeta,2,ATL
3,2020,10,20,18,13.2,-80.3,0,15,ATL_20_28,Zeta,2,ATL
4,2020,10,21,0,13.8,-80.4,0,15,ATL_20_28,Zeta,2,ATL

In [23]:
# Convert the datetime columns to the correct data type
rainband_data_timebin["time_bin"] = pd.to_datetime(rainband_data_timebin["time_bin"])

rainband_data_timebin["year"] = rainband_data_timebin["time_bin"].dt.year.astype('int64')
rainband_data_timebin["month"] = rainband_data_timebin["time_bin"].dt.month.astype('int64')
rainband_data_timebin["day"] = rainband_data_timebin["time_bin"].dt.day.astype('int64')
rainband_data_timebin["hour"] = rainband_data_timebin["time_bin"].dt.hour.astype('int64')
rainband_data_timebin["minute"] = rainband_data_timebin["time_bin"].dt.minute.astype('int64')

In [24]:
rainband_data_timebin_pl = pl.from_pandas(rainband_data_timebin)
reduced_track_file_pl = pl.from_pandas(reduced_track_file)

In [25]:
rainband_data_timebin_pl.head()

shape: (5, 9)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ time_bin     â”† shear_quad â”† storm_code â”† lightning_count â”† â€¦ â”† month â”† day â”† hour â”† minute â”‚
â”‚ ---          â”† ---        â”† ---        â”† ---             â”†   â”† ---   â”† --- â”† ---  â”† ---    â”‚
â”‚ datetime[ns] â”† str        â”† str        â”† i64             â”†   â”† i64   â”† i64 â”† i64  â”† i64    â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ 2010-06-20   â”† DL         â”† ATL_10_1   â”† 0               â”† â€¦ â”† 6     â”† 20  â”† 18   â”† 0      â”‚
â”‚ 18:00:00     â”†            â”†            â”†                 â”†   â”†       â”†     â”†      â”†        â”‚
â”‚ 2010-06-20   â”† DR         â”† ATL_10_1   â”† 0               â”† â€¦ â”† 6     â”† 20  â”† 18   â”† 0      â”‚
â”‚ 18:00:00     â”†            â”†            â”†                 â”†   â”†       â”†     â”†      â”†        â”‚
â”‚ 2010-06-20   â”† UL         â”† ATL_10_1   â”† 0               â”† â€¦ â”† 6     â”† 20  â”† 18   â”† 0      â”‚
â”‚ 18:00:00     â”†            â”†            â”†                 â”†   â”†       â”†     â”†      â”†        â”‚
â”‚ 2010-06-20   â”† UR         â”† ATL_10_1   â”† 0               â”† â€¦ â”† 6     â”† 20  â”† 18   â”† 0      â”‚
â”‚ 18:00:00     â”†            â”†            â”†                 â”†   â”†       â”†     â”†      â”†        â”‚
â”‚ 2010-06-20   â”† DL         â”† ATL_10_1   â”† 0               â”† â€¦ â”† 6     â”† 20  â”† 18   â”† 30     â”‚
â”‚ 18:30:00     â”†            â”†            â”†                 â”†   â”†       â”†     â”†      â”†        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Next, we join the rainband track data with the binned lightning data using the asof method. We look for the nearest track data to the lightning timebin.

In [26]:
rainband_data_timebin_joined = rainband_data_timebin_pl.join_asof(
    reduced_track_file_pl,
    on="hour",
    by=["year", "month", "day","storm_code"],
    strategy="nearest",
    tolerance=24
)

C:\Users\user\AppData\Local\Temp\ipykernel_22984\4199109830.py:1: UserWarning: left key of asof join is not sorted.

This can lead to invalid results. Ensure the asof key is sorted
  rainband_data_timebin_joined = rainband_data_timebin_pl.join_asof(
C:\Users\user\AppData\Local\Temp\ipykernel_22984\4199109830.py:1: UserWarning: right key of asof join is not sorted.

This can lead to invalid results. Ensure the asof key is sorted
  rainband_data_timebin_joined = rainband_data_timebin_pl.join_asof(

In [27]:
rainband_data_timebin_joined = rainband_data_timebin_joined.to_pandas()

In [28]:
rainband_data_timebin_joined.head(20)

,time_bin,shear_quad,storm_code,lightning_count,year,month,day,hour,minute,lat,lon,pressure,knots,storm_name,category,basin
0,2010-06-20 18:00:00,DL,ATL_10_1,0,2010,6,20,18,0,12.0,-64.3,1011,15,Alex,2,ATL
1,2010-06-20 18:00:00,DR,ATL_10_1,0,2010,6,20,18,0,12.0,-64.3,1011,15,Alex,2,ATL
2,2010-06-20 18:00:00,UL,ATL_10_1,0,2010,6,20,18,0,12.0,-64.3,1011,15,Alex,2,ATL
3,2010-06-20 18:00:00,UR,ATL_10_1,0,2010,6,20,18,0,12.0,-64.3,1011,15,Alex,2,ATL
4,2010-06-20 18:30:00,DL,ATL_10_1,0,2010,6,20,18,30,12.0,-64.3,1011,15,Alex,2,ATL
5,2010-06-20 18:30:00,DR,ATL_10_1,0,2010,6,20,18,30,12.0,-64.3,1011,15,Alex,2,ATL
6,2010-06-20 18:30:00,UL,ATL_10_1,0,2010,6,20,18,30,12.0,-64.3,1011,15,Alex,2,ATL
7,2010-06-20 18:30:00,UR,ATL_10_1,0,2010,6,20,18,30,12.0,-64.3,1011,15,Alex,2,ATL
8,2010-06-20 19:00:00,DL,ATL_10_1,0,2010,6,20,19,0,12.0,-64.3,1011,15,Alex,2,ATL
9,2010-06-20 19:00:00,DR,ATL_10_1,0,2010,6,20,19,0,12.0,-64.3,1011,15,Alex,2,ATL
10,2010-06-20 19:00:00,UL,ATL_10_1,0,2010,6,20,19,0,12.0,-64.3,1011,15,Alex,2,ATL
11,2010-06-20 19:00:00,UR,ATL_10_1,0,2010,6,20,19,0,12.0,-64.3,1011,15,Alex,2,ATL
12,2010-06-20 19:30:00,DL,ATL_10_1,0,2010,6,20,19,30,12.0,-64.3,1011,15,Alex,2,ATL
13,2010-06-20 19:30:00,DR,ATL_10_1,0,2010,6,20,19,30,12.0,-64.3,1011,15,Alex,2,ATL
14,2010-06-20 19:30:00,UL,ATL_10_1,0,2010,6,20,19,30,12.0,-64.3,1011,15,Alex,2,ATL
15,2010-06-20 19:30:00,UR,ATL_10_1,0,2010,6,20,19,30,12.0,-64.3,1011,15,Alex,2,ATL
16,2010-06-20 20:00:00,DL,ATL_10_1,0,2010,6,20,20,0,12.0,-64.3,1011,15,Alex,2,ATL
17,2010-06-20 20:00:00,DR,ATL_10_1,0,2010,6,20,20,0,12.0,-64.3,1011,15,Alex,2,ATL
18,2010-06-20 20:00:00,UL,ATL_10_1,0,2010,6,20,20,0,12.0,-64.3,1011,15,Alex,2,ATL
19,2010-06-20 20:00:00,UR,ATL_10_1,0,2010,6,20,20,0,12.0,-64.3,1011,15,Alex,2,ATL

In [29]:
rainband_data_timebin_joined.isnull().sum()

time_bin           0
shear_quad         0
storm_code         0
lightning_count    0
year               0
month              0
day                0
hour               0
minute             0
lat                0
lon                0
pressure           0
knots              0
storm_name         0
category           0
basin              0
dtype: int64

In [30]:
# calculate 24-hour intensity change
def knot_category(row):
    if 64 <= row['knots'] < 83:
        return 1
    elif 83 <= row['knots'] < 96:
        return 2
    elif 96 <= row['knots'] < 113:
        return 3
    elif 113 <= row['knots'] < 136:
        return 4
    elif row['knots'] >= 137:
        return 5
    else:
        return 'Unidentified'

def intensification(row):
    if row['24_hour_knots_diff'] < -30:
        return 'Rapidly Weakening'
    elif -30 <= row['24_hour_knots_diff'] < -10:
        return 'Weakening'
    elif -10 <= row['24_hour_knots_diff'] < 10:
        return 'Neutral'
    elif 10 <= row['24_hour_knots_diff'] < 30:
        return 'Intensifying'
    elif 30 <= row['24_hour_knots_diff']:
        return 'Rapidly Intensifying'
    else:
        return 'Unidentified'

In [31]:
pd.set_option('display.max_rows', 500)

# Sort by 'storm_code' and 'time_bin'
rainband_data_timebin_joined = rainband_data_timebin_joined.sort_values(by=['storm_code', 'time_bin','shear_quad'])

rainband_data_timebin_joined['24_hour_knots_diff'] = rainband_data_timebin_joined.groupby(['storm_code','shear_quad'])['knots'].shift(periods=-48) - rainband_data_timebin_joined['knots']
rainband_data_timebin_joined['24_hour_pressure_diff'] = rainband_data_timebin_joined.groupby(['storm_code','shear_quad'])['pressure'].shift(periods=-48) - rainband_data_timebin_joined['pressure']

# Save or display the DataFrame
rainband_data_timebin_joined.groupby('storm_code')['24_hour_knots_diff'].max()
rainband_data_timebin_joined.groupby('storm_code')['24_hour_pressure_diff'].max()

storm_code
ATL_10_1        29.0
ATL_10_11       15.0
ATL_10_12       26.0
ATL_10_13       24.0
ATL_10_14       18.0
ATL_10_17       12.0
ATL_10_18       16.0
ATL_10_19       22.0
ATL_10_20        1.0
ATL_10_21       20.0
ATL_10_6        18.0
ATL_10_7        28.0
ATL_11_12       23.0
ATL_11_14        4.0
ATL_11_16       42.0
ATL_11_17       13.0
ATL_11_18       18.0
ATL_11_9        20.0
ATL_12_11       19.0
ATL_12_12        7.0
ATL_12_13       14.0
ATL_12_14       17.0
ATL_12_17       16.0
ATL_12_18       33.0
ATL_12_3         3.0
ATL_12_5        15.0
ATL_12_8        17.0
ATL_12_9        21.0
ATL_13_10       18.0
ATL_13_9        19.0
ATL_14_1         8.0
ATL_14_3         9.0
ATL_14_4         2.0
ATL_14_6        23.0
ATL_14_7         7.0
ATL_14_8        22.0
ATL_15_11       24.0
ATL_15_12        6.0
ATL_15_4        20.0
ATL_15_6      1008.0
ATL_16_1         8.0
ATL_16_15       32.0
ATL_16_16     1008.0
ATL_16_5      1011.0
ATL_16_7        21.0
ATL_16_9        15.0
ATL_17_11     1008.0
ATL_17_12     1010.0
ATL_17_13       24.0
ATL_17_14     1010.0
ATL_17_15     1012.0
ATL_17_16       15.0
ATL_17_17       34.0
ATL_17_7         2.0
ATL_17_8        25.0
ATL_17_9        51.0
EPAC_10_4       45.0
EPAC_10_9       21.0
EPAC_11_1       44.0
EPAC_11_10      24.0
EPAC_11_11      20.0
EPAC_11_13      39.0
EPAC_11_2        3.0
EPAC_11_3       17.0
EPAC_11_4       55.0
EPAC_11_5       31.0
EPAC_11_7       15.0
EPAC_11_9       19.0
EPAC_12_12      20.0
EPAC_12_16      30.0
EPAC_12_3       30.0
EPAC_12_4       19.0
EPAC_12_6       17.0
EPAC_12_7       10.0
EPAC_12_9       15.0
EPAC_13_13      18.0
EPAC_13_17      38.0
EPAC_13_2        9.0
EPAC_13_3       16.0
EPAC_13_4       13.0
EPAC_13_5       15.0
EPAC_13_7       14.0
EPAC_13_8       20.0
EPAC_14_11      17.0
EPAC_14_18      17.0
EPAC_14_7        3.0
EPAC_14_9       30.0
EPAC_15_1       33.0
EPAC_15_10    1007.0
EPAC_15_12      21.0
EPAC_15_13    1008.0
EPAC_15_15    1006.0
EPAC_15_17      12.0
EPAC_15_19      20.0
EPAC_15_2     1008.0
EPAC_15_20     120.0
EPAC_15_22      35.0
EPAC_15_3     1008.0
EPAC_15_5       33.0
EPAC_15_9       22.0
EPAC_16_13      23.0
EPAC_16_14      30.0
EPAC_16_15    1009.0
EPAC_16_16      18.0
EPAC_16_17    1008.0
EPAC_16_19    1009.0
EPAC_16_20      38.0
EPAC_16_22    1008.0
EPAC_16_3       22.0
EPAC_16_4       16.0
EPAC_16_5     1010.0
EPAC_16_7       21.0
EPAC_16_8       33.0
EPAC_17_16    1008.0
EPAC_17_9       17.0
IO_10_1         18.0
IO_10_3         38.0
IO_10_4         71.0
IO_10_5         30.0
IO_11_6         30.0
IO_13_6          4.0
IO_14_3         56.0
IO_14_4         37.0
IO_15_4         41.0
IO_15_5         44.0
IO_16_5         33.0
IO_17_3         18.0
SHEM_10_12      38.0
SHEM_10_14      45.0
SHEM_10_15      26.0
SHEM_10_16      45.0
SHEM_10_19      34.0
SHEM_10_20      33.0
SHEM_10_21      19.0
SHEM_10_22      19.0
SHEM_10_23      18.0
SHEM_10_7       34.0
SHEM_10_8       22.0
SHEM_11_10      26.0
SHEM_11_11      71.0
SHEM_11_15      18.0
SHEM_11_16      22.0
SHEM_11_17      23.0
SHEM_11_19      15.0
SHEM_11_7       30.0
SHEM_11_8       34.0
SHEM_12_10      29.0
SHEM_12_12      67.0
SHEM_12_16      23.0
SHEM_12_17      22.0
SHEM_12_4       19.0
SHEM_12_7       15.0
SHEM_12_8       38.0
SHEM_12_9       26.0
SHEM_13_10      23.0
SHEM_13_13      26.0
SHEM_13_15      26.0
SHEM_13_16      26.0
SHEM_13_17      34.0
SHEM_13_19      23.0
SHEM_13_21      26.0
SHEM_13_22      26.0
SHEM_13_23      22.0
SHEM_13_7       18.0
SHEM_13_8       26.0
SHEM_14_15       0.0
SHEM_14_17      45.0
SHEM_14_18      18.0
SHEM_14_21      60.0
SHEM_14_23      56.0
SHEM_14_24      33.0
SHEM_14_7       41.0
SHEM_14_8       37.0
SHEM_15_10      22.0
SHEM_15_12      52.0
SHEM_15_13      62.0
SHEM_15_17      48.0
SHEM_15_18      37.0
SHEM_15_19      26.0
SHEM_15_21      44.0
SHEM_15_22      26.0
SHEM_15_24      60.0
SHEM_15_4       52.0
SHEM_15_9       33.0
SHEM_16_11      27.0
SHEM_16_13      41.0
SHEM_16_15      41.0
SHEM_16_18      33.0
SHEM_16_19      38.0
SHEM_16_20      43.0
SHEM_16_6       30.0
SHEM_16_7       20.0
SHEM_16_8       18.0
SHEM_16_9       19.0
SHEM_17_13      49.0
SHEM_17_15      39.0
SHEM_17_16      32.0
SHEM_17_17      23.0
SHEM_17_18      37.0
SHEM_17_19      21.0
SHEM_17_4       18.0
SHEM_17_5       26.0
SHEM_17_9       50.0
WPAC_10_11      33.0
WPAC_10_12      30.0
WPAC_10_13      18.0
WPAC_10_15      49.0
WPAC_10_16      22.0
WPAC_10_3       19.0
WPAC_10_4       29.0
WPAC_11_10      21.0
WPAC_11_11      15.0
WPAC_11_12      12.0
WPAC_11_14      26.0
WPAC_11_18      41.0
WPAC_11_20      23.0
WPAC_11_22      48.0
WPAC_11_4       41.0
WPAC_11_8       19.0
WPAC_12_10      34.0
WPAC_12_11      15.0
WPAC_12_12      19.0
WPAC_12_14      26.0
WPAC_12_15      26.0
WPAC_12_16      30.0
WPAC_12_17      37.0
WPAC_12_18      26.0
WPAC_12_2       24.0
WPAC_12_22      15.0
WPAC_12_24      51.0
WPAC_12_26      60.0
WPAC_12_3       19.0
WPAC_12_4       23.0
WPAC_12_5       44.0
WPAC_12_9       37.0
WPAC_13_11      33.0
WPAC_13_12      37.0
WPAC_13_17      44.0
WPAC_13_19      33.0
WPAC_13_20      44.0
WPAC_13_22      30.0
WPAC_13_23      49.0
WPAC_13_24      33.0
WPAC_13_25      30.0
WPAC_13_26      34.0
WPAC_13_28      22.0
WPAC_13_29      41.0
WPAC_13_31      34.0
WPAC_13_6       19.0
WPAC_13_7       30.0
WPAC_14_10      37.0
WPAC_14_11      26.0
WPAC_14_15      37.0
WPAC_14_18      23.0
WPAC_14_19      33.0
WPAC_14_20      34.0
WPAC_14_22      26.0
WPAC_14_3       22.0
WPAC_14_6       22.0
WPAC_14_8       34.0
WPAC_14_9       71.0
WPAC_15_1       26.0
WPAC_15_10      26.0
WPAC_15_11      27.0
WPAC_15_13      45.0
WPAC_15_16      44.0
WPAC_15_17      22.0
WPAC_15_2       56.0
WPAC_15_20      23.0
WPAC_15_21      41.0
WPAC_15_22      59.0
WPAC_15_23       8.0
WPAC_15_24      37.0
WPAC_15_25      22.0
WPAC_15_27      26.0
WPAC_15_28      41.0
WPAC_15_4       22.0
WPAC_15_6       41.0
WPAC_15_9       30.0
WPAC_16_12      33.0
WPAC_16_15      26.0
WPAC_16_16      86.0
WPAC_16_18      47.0
WPAC_16_2       52.0
WPAC_16_20      44.0
WPAC_16_21      54.0
WPAC_16_23      45.0
WPAC_16_24      43.0
WPAC_16_25      41.0
WPAC_16_26      18.0
WPAC_16_30      78.0
WPAC_16_6       37.0
WPAC_17_11      32.0
WPAC_17_14      24.0
WPAC_17_15      48.0
WPAC_17_17      22.0
WPAC_17_20      32.0
WPAC_17_21      21.0
WPAC_17_24      28.0
WPAC_17_25      53.0
WPAC_17_27       9.0
WPAC_17_28      33.0
WPAC_17_33      25.0
WPAC_17_7       36.0
Name: 24_hour_pressure_diff, dtype: float64

In [32]:
rainband_data_timebin_joined['TC_Category'] = rainband_data_timebin_joined.apply(knot_category, axis=1)
rainband_data_timebin_joined['Intensification_Category'] = rainband_data_timebin_joined.apply(intensification, axis=1)

In [33]:
rainband_data_timebin_joined.shape

(584416, 20)

In [34]:
rainband_data_timebin_joined.to_csv("data/rainband_shear_timebin_joined.csv", index=False)